@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-start-rgb));
  scrollbar-shadow-color: black;
  scrollbar-base-color: black;
  scrollbar-track-color: black;
}

::-webkit-scrollbar {
  background: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(0, 0, 0);
}
